.selectize-control {
  .selectize-input {
    box-shadow: none;
    border-radius: $corner;

    &:not(.has-items) {
      input {
        // placeholder is being cut-off
        width: 100% !important;
      }
    }
  }

  // Some of these styles probably also have to be worked
  // in to non .multi selects.
  &.multi {
    .selectize-input {
      & > .item {
        box-shadow: none;
        text-shadow: none;
        border-radius: $corner;
        background-image: none;
      }
    }
  }

  .selectize-dropdown-content {
    & > .option {
      .highlight {
        background-color: transparent;
      }
    }
  }  
}